@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    font-size: 12pt;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 1.1rem;
    color: #130600;
    background-color: #788b4142;
}
#interface{
    background-color:#F6EEDC;
    width: 90%;
    margin:auto;
    border: 2px solid #000000;
    box-sizing: border-box;
}
h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2.5rem;
    color: #130600;
    margin-top: 2%;
    padding: 2%;
    font-weight: bolder;
}
header{
    height:auto;
    padding: 1%; 
    background-color: #F4A261;
    text-align: center;
}
#rodape{
    background-color:#A3B18A;
    height: auto;
    text-align: center;
    color: #ffffff;
}
#rodape a{
    color: #ffffff;
}
#rodape a:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:auto;
    height: 80vh;
}
button{
    margin: auto;
    height: 100px;
    width: 300px;
    padding: 10px;
}

button a{
    color: #ffffff;
}