         body {
            background-color: #f8f9fa;
            color: #343a40;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .card {
            border: none;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
        }

        .card-header {
            background-color: #004085;
            color: white;
            font-size: 1.25rem;
            font-weight: 600;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .form-control, .custom-select {
            border-color: #adb5bd;
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        .form-control:focus, .custom-select:focus {
            border-color: #004085;
           
            box-shadow: 0 0 0 0.2rem rgba(0, 64, 133, 0.25); 
        }
        
        hr{
            border: 1px solid #004085;
        }
        
        .btn-primary {
            background-color: #004085;
            border-color: #004085;
            font-weight: 600;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #002d61; 
            border-color: #002d61;
        }