* {
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
header{
    height: auto;
    text-align: center;
    background-color: #004085;
    color: #ffffff;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:auto;
    height: 80vh;
}
footer{
    height: 20vh;
    background-color: #004085;
    text-align: center;
    color: #ffffff;
}
button{
    margin: auto;
    height: 100px;
    width: 200px;
    padding: 10px;
}
button a{
    color: #ffffff;
}